.container{
    width: 80%;
    padding-bottom: 5rem;
    background-color: white;
    margin: auto;
    border: 2px solid red;
    text-align: center;

}
[class^="col"]{
    background-color: blue;
    padding-bottom: 2rem;
}
[class^="col-6"]{
    background-color: aqua;
    border: 1px solid black;
    padding-bottom: 2rem;
}
[class^="col-4"]{
    background-color: blueviolet;
    border: 1px solid black;
    padding-bottom: 2rem;
}
[class^="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"]{
    background-color: violet;
    border: 1px solid black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    padding-bottom:2rem ;
}